# Binaries para programas y plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Binario de test generado con `go test -c`
*.test

# Salida de la herramienta de cobertura de Go, en particular al usar LiteIDE
*.out

# Directorios de dependencias (descomenta si no deseas incluir el directorio vendor)
# vendor/
